<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PyPI</title>
  <style>
    body {
      background: lightgreen;
    }
  </style>
</head>
<body>
  <h1>PyPI site</h1>
  <div>
    <a href="/">home</a>
    <a href="/about">about</a>
  </div>
  <div class="main-content">
    <div metal:define-slot="content" tal:omit-tag="True">No content</div>
  </div>
  <footer>
    Footer: thanks for visiting
    <br>
    twitter: <a href="http://twitter.com/"></a>
    facebook: <a href="http://www.facebook.com/"></a>
  </footer>
</body>
</html>
